*{
    text-decoration: none;
}

NavLink {
    cursor: pointer;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 70vw;
    margin: 0 auto;
}


form label {
    margin-right: 0.5rem;
}
.pesquisa {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .2rem 1rem;
    outline: none;
}

.pesquisa::placeholder {
    font-size: 0.9rem;
}

.procurar {
    background-color: #4153d9;
    font-weight: 600;
    font-size: 1rem;
    color: #fee131;
    border: 1.5px solid #4153d9;
    cursor: pointer;
    padding: 0.2rem 1rem;
    border-radius: 8px;
    
}

@media (max-width: 450px) {

    .nav {
        flex-direction: column;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    form label {
        margin-right: 0;
    }
}