.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 70vw;
    margin: 0 auto;
}

form label {
    margin-right: 0.5rem;
}
.pesquisa {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.procurar {
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
    padding: 0.2rem 1rem;
    border-radius: 8px;
    
}

@media (max-width: 450px) {

    .nav {
        flex-direction: column;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    form label {
        margin-right: 0;
    }
}