* {
    text-decoration: none;
}

NavLink {
    cursor: pointer;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 70vw;
    margin: 0 auto;
}

form {
    margin-top: 1rem;
    border: 2px solid rgb(10, 10, 253);
    width: 230px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px 12px 12px 10px;
    -webkit-border-radius: 10px 12px 12px 10px;
    -moz-border-radius: 10px 12px 12px 10px;
    -ms-border-radius: 10px 12px 12px 10px;
    -o-border-radius: 10px 12px 12px 10px;
}


.pesquisa {
    padding: 2px 0px 0px 10px;
    outline: none;
    border: none;
    background-color: transparent;
    -webkit-border-radius: 10px 0px 0px 10px;
    -moz-border-radius: 10px 0px 0px 10px;
    -ms-border-radius: 10px 0px 0px 10px;
    -o-border-radius: 10px 0px 0px 10px;
    color: white;
}

.pesquisa::placeholder {
    font-size: 0.9rem;
    color: white;
}

.procurar {
    font-size: 1.2rem;
    color: #ffffff;
    height: 100%;
    width: 100%;
    border: none;
    border-left: 2px solid rgb(10, 10, 253);
    cursor: pointer;
    border-radius: 0px 9px 9px 0px;
    background-color: #4153d9;
}

.procurar svg {
    margin-top: 0.2rem;
}

@media (max-width: 450px) {

    .nav {
        flex-direction: column;
    }



    form label {
        margin-right: 0;
    }
}

@media (max-width: 756px) {

    .nav {

        justify-content: center;

    }

}