.main {
    width: 80vw;
    margin: 0 auto;
    text-align: center;

}

.logo {
    margin-top: 1.5rem;
    width: 300px;
    height: 120px;
}

h1 {
    margin: 1rem 2rem;
}

.cards {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80vw;
    text-align: center;
}

 :root {
    background-image: url("../public/assets/wallpaper.png");
    background-size: contain;

} 

@media (max-width: 450px) {
    .logo {
        width: 250px;
        height: 100px;
    }

}